body{margin:0;font-family:system-ui}
.dark{background:#0b0b0b;color:#fff}
.light{background:#fff;color:#000}

/* TOP */
.topbar{
 display:flex;gap:10px;align-items:center;
 padding:12px;background:#141414
}
.logo{color:red;font-weight:bold;font-size:18px}

/* SEARCH */
.search-box{flex:1;position:relative}
.search-box input{
 width:100%;padding:8px;background:#000;
 color:#fff;border:1px solid #333
}
#suggestions{
 position:absolute;top:38px;left:0;right:0;
 background:#1a1a1a;z-index:5
}
#suggestions div{
 padding:8px;font-size:13px;cursor:pointer
}
#suggestions div:hover{background:#333}

/* PLAYER */
.player-wrap{
 max-width:900px;margin:14px auto;
 border-radius:16px;overflow:hidden
}

/* FEED */
#feed{
 display:grid;
 grid-template-columns:repeat(auto-fill,minmax(160px,1fr));
 gap:12px;padding:12px
}
.card{
 background:#141414;padding:8px;border-radius:12px;
 cursor:pointer
}
.card img{width:100%;border-radius:8px}
.card span{font-size:13px;display:block;margin-top:6px}

/* BOTTOM NAV */
.bottom-nav{
 position:fixed;bottom:0;left:0;right:0;
 display:flex;justify-content:space-around;
 background:#111;padding:8px 0
}
.bottom-nav button{
 background:none;border:none;color:#fff;font-size:12px
}
